In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
car= pd.read_csv("quikr_car.csv")
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [3]:
car.shape

(892, 6)

In [4]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [5]:
car.columns

Index(['name', 'company', 'year', 'Price', 'kms_driven', 'fuel_type'], dtype='object')

In [6]:
car["fuel_type"].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [7]:
car["fuel_type"]

0      Petrol
1      Diesel
2      Petrol
3      Petrol
4      Diesel
        ...
887       NaN
888    Diesel
889    Diesel
890       NaN
891       NaN
Name: fuel_type, Length: 892, dtype: object

#### _Creating Backup Copy_

In [8]:
backup=car.copy()

### _Quality_

~ names are pretty inconsistent
~ names have company names attached to it
~ some names are spam like 'Maruti Ertiga showroom condition with' and 'Well mentained Tata Sumo'
~ company: many of the names are not of any company like 'Used', 'URJENT', and so on.
~ year has many non-year values
~ year is in object. Change to integer
~ Price has Ask for Price
~ Price has commas in its prices and is in object
~ kms_driven has object values with kms at last.
~ It has nan values and two rows have 'Petrol' in them
~ fuel_type has nan values

### _Data Cleaning_

##### _There are many non value years_

In [9]:
car["year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [10]:
car[car["year"].str.isnumeric()==True]

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [11]:
car= car[car["year"].str.isnumeric()==True]

In [12]:
## Now check again year
car["year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '2003', '2004', '1995', '2002', '2001'], dtype=object)

### _Year is in object : Change to integer_

In [13]:
car["year"]=car["year"].astype(int)

### _Price has ask for Price_

In [14]:
car["Price"].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '4,35,000', '1,89,700', '3,89,700', '3,60,000',
       '2,95,000', '1,14,990', '10,65,000', '4,70,000', '48,000',
       '1,88,000', '4,65,000', '1,79,999', '21,90,000', '23,90,000',
       '10,75,000', '4,75,000', '10,25,000', '6,15,000', '19,00,000',
       '14,90,000', '15,10,000', '18,50,000', '7,90,000', '17,25,000',
       '12,25,000', '68,000', '9,70,000', '31,00,000', '8,99,000',
       '88,000', '53,000', '5,68,500', '71,000', '5,90,000', '7,95,000',
       '42,000', '1,89,000', '1,62,000', '35,999', '29,00,000', '39,999',
       '50,500', '5,10,000', '8,60,000', '5,00,001'], dtype=object)

#### _kms_driven has object values with kms at last._

In [15]:
car["kms_driven"][2]

'22,000 kms'

In [16]:
car["kms_driven"][2].split()

['22,000', 'kms']

In [17]:
car["kms_driven"][2].split()[0]

'22,000'

In [18]:
car["kms_driven"][2].split()[0].replace(",","")

'22000'

In [19]:
car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')

In [20]:
car["kms_driven"].unique()

array(['45000', '40', '22000', '28000', '36000', '59000', '41000',
       '25000', '24530', '60000', '30000', '32000', '48660', '4000',
       '16934', '43000', '35550', '39522', '39000', '55000', '72000',
       '15975', '70000', '23452', '35522', '48508', '15487', '82000',
       '20000', '68000', '38000', '27000', '33000', '46000', '16000',
       '47000', '35000', '30874', '15000', '29685', '130000', '19000',
       nan, '54000', '13000', '38200', '50000', '13500', '3600', '45863',
       '60500', '12500', '18000', '13349', '29000', '44000', '42000',
       '14000', '49000', '36200', '51000', '104000', '33333', '33600',
       '5600', '7500', '26000', '24330', '65480', '28028', '200000',
       '99000', '2800', '21000', '11000', '66000', '3000', '7000',
       '38500', '37200', '43200', '24800', '45872', '40000', '11400',
       '97200', '52000', '31000', '175430', '37000', '65000', '3350',
       '75000', '62000', '73000', '2200', '54870', '34580', '97000', '60',
       '80200', '3200', '0000', '5000', '588', '71200', '175400', '9300',
       '56758', '10000', '56450', '56000', '32700', '9000', '73',
       '160000', '84000', '58559', '57000', '170000', '80000', '6821',
       '23000', '34000', '1800', '400000', '48000', '90000', '12000',
       '69900', '166000', '122', '0', '24000', '36469', '7800', '24695',
       '15141', '59910', '100000', '4500', '129000', '300', '131000',
       '111111', '59466', '25500', '44005', '2110', '43222', '100200',
       '65', '140000', '103553', '58000', '120000', '49800', '100',
       '81876', '6020', '55700', '18500', '180000', '53000', '35500',
       '22134', '1000', '8500', '87000', '6000', '15574', '8000', '55800',
       '56400', '72160', '11500', '133000', '2000', '88000', '65422',
       '117000', '150000', '10750', '6800', '5', '9800', '57923', '30201',
       '6200', '37518', '24652', '383', '95000', '3528', '52500', '47900',
       '52800', '195000', '48008', '48247', '9400', '64000', '2137',
       '10544', '49500', '147000', '90001', '48006', '74000', '85000',
       '29500', '39700', '67000', '19336', '60105', '45933', '102563',
       '28600', '41800', '116000', '42590', '7400', '54500', '76000',
       '00', '11523', '38600', '95500', '37458', '85960', '12516',
       '30600', '2550', '62500', '69000', '28400', '68485', '3500',
       '85455', '63000', '1600', '77000', '26500', '2875', '13900',
       '1500', '2450', '1625', '33400', '60123', '38900', '137495',
       '91200', '146000', '100800', '2100', '2500', '132000', 'Petrol'],
      dtype=object)

#### _It has nan values and two rows have 'Petrol' in them_

In [21]:
car=car[car['kms_driven'].str.isnumeric()]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
car=car[car['kms_driven'].str.isnumeric()]

In [ ]:
car['kms_driven']=car['kms_driven'].astype(int)

In [ ]:
car["kms_driven"]

#### _fuel_type has nan values_

In [ ]:
car["fuel_type"].isna()

In [ ]:
car=car[car["fuel_type"].isna()==False]

In [ ]:
car.shape

In [ ]:
car["company"].unique()

In [ ]:
car["name"].unique()

#### _name and company had spammed data...but with the previous cleaning, those rows got removed._

#### _Company does not need any cleaning now. Changing car names. Keeping only the first three words_

In [ ]:
car["name"]=car["name"].str.split().str.slice(start=0,stop=3).str.join(' ')

In [ ]:
car["name"]

In [ ]:
" ".join(car["name"][1].split()[0:3])

#### _Resetting the index of the final cleaned data_

In [ ]:
car=car.reset.index(drop=True)

### _Cleaned data_

In [ ]:
car

In [ ]:
car.to_Csv("Cleaned_Car_Data_csv")

In [ ]:
car.info()

In [ ]:
car.describe(include="all")

In [ ]:
car=car[car['Price']<6000000]

## _Checking Relationship of Company with Price_

In [ ]:
car["company"].unique()

In [ ]:
import seaborn as sns

In [ ]:
plt.subplots(figsize=(14,7))
ax=sns.boxplot(x="company", y="Price", data=car)
ax.set_xticklabels(ax.get_xticklabels(),rotation=40,ha="right")
plt.show()

## _Checking Relationship of Year with Price_

In [ ]:
plt.subplots(figsize=(14,7))
ax=sns.swarmplot(x="year", y="Price", data=car)
ax.set_xticklabels(ax.get_xticklabels(),rotation=50, ha="left")

## _Checking Relationship of kms_driven with Price_

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import random

In [ ]:
sns.replot(x="kms_driven", y="Price", data=car, height=7, aspectt= 1.5)

## _Checking relationship of FuelType with Price_

In [ ]:
plt.subplots(figsize=(14,7))
sns.boxplot(x="fuel_type", y= "Price", data=car)

## _Relationship of Price with fuelType, Year and Company mixed_

In [ ]:
ax=sns.relplot(x='company',y='Price',data=car,hue='fuel_type',size='year',height=7,aspect=2)
ax.set_xticklabels(rotation=40,ha='right')

### _Extracting Training Data_

In [ ]:
X= car[["name", "company","year","kms_driven","fuel_type"]]
y= car["Price"]

In [ ]:
pd.get_dummies(X[["name", "company", "fuel_type"]])

In [ ]:
x.shape

In [ ]:
y.shape

## _Applying Train Test Split_

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

### _Creating an OneHotEncoder object to contain all the possible categories_

In [ ]:
ohe= OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

In [ ]:
ohe.categories_

### _Creating a column transformer to transform categorical columns_

In [ ]:
column_trans= make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','comspny','fuel_type']), 
                                    remainder= 'passthrough')

In [ ]:
column_trans

### _Linear Regression Model_

In [ ]:
lr=LinearRegression()

### _Making a Pipeline_

In [ ]:
pipe= make_pipeline(column_trans,lr)

### _Fitting the Model_

In [ ]:
pipe.fit(X_train,y_train)

In [ ]:
y_pred=pipe.predict(X_test)

### _Checking R2 Score_

In [ ]:
r2_score(y_test,y_pred)

### _Finding the model with a random state of TrainTestSplit where the model was found to give almost 0.92 as r2_score_

In [ ]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [ ]:
np.argmax(scores)

In [ ]:
scores[np.argmax(scores)]

In [ ]:
pipe.predict(pd.DataFrame(columns=X_test.columns,data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

### _The best model is found at a certain random state_

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [ ]:
pipe.predict(pd.DataFrame(columns=['name','company','year','kms_driven','fuel_type'],data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

# pipe.steps[0][1].transformers[0][1].categories[0]